doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    <!-- Global site tag (gtag.js) - Google Analytics -->
    script(async, src='https://www.googletagmanager.com/gtag/js?id=UA-6391661-9')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-6391661-9');
    link(rel='stylesheet', href='/stylesheets/style.css')    
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Oswald:700')
  body
    script(src='https://site-443elevatr-media.s3.amazonaws.com/jquery.backstretch.min.js')
    script(src='https://site-443elevatr-media.s3.amazonaws.com/jquery.fittext.js')
    block content
  <!-- psst! hey! it's a phone number! -->