* {
  margin: 0;
  padding: 0;
}
#flex-container {
  display: flex;
  min-height: 100vh;
  max-height: 100vh;
  align-items: center;
  align-content: center;
}
div.vignette {
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.6) inset;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#content {
  width: 100%;
}
#responsive_headline {
  display: block;
  color: white;
  text-align: center;
  margin: 0 auto;
  letter-spacing: 0.2vw;
  font-family: Oswald, sans-serif;
}
#responsive_headline {
  width: 70%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 600px) {
  #responsive_headline {
    width: 95%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  div.vignette {
    box-shadow: 0 0 75px rgba(0, 0, 0, 0.6) inset;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
}
